- const testing = false
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body

    main.home
      figure
        img.logo(src="svg/logo-withtype.svg" alt="pxlclix")
        figcaption Pxlclix has shuttered. Thanks for your support.